{
  "log": {
    "_recordingName": "fetchGroupUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "19c964637ad1008e1e4a38fd004b743d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://3840207185082406.6.gcp.databricks.com/api/2.0/groups/list"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 143,
            "text": "{\"group_names\":[\"admins\",\"test-group-1\",\"test-group-2\"]}\n"
          },
          "headers": [
            {
              "name": "x-databricks-reason-phrase",
              "value": "OK"
            },
            {
              "name": "x-databricks-server-name",
              "value": "cons-webapp-0"
            },
            {
              "name": "x-databricks-route-to",
              "value": "https://cons-webapp-0.cons-webapp-r.production.svc.cluster.local"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-databricks-org-id",
              "value": "3840207185082406"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 754,
      },
      {
        "_id": "2be559309a689f84ba4f3055c1624c66",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "group_name",
              "value": "admins"
            }
          ],
          "url": "https://3840207185082406.6.gcp.databricks.com/api/2.0/groups/list-members?group_name=admins"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 221,
            "text": "{\"members\":[{\"user_name\":\"viragsf@gmail.com\"},{\"user_name\":\"austin.kelleher@jupiterone.dev\"}]}\n"
          },
          "headers": [
            {
              "name": "x-databricks-reason-phrase",
              "value": "OK"
            },
            {
              "name": "x-databricks-server-name",
              "value": "cons-webapp-0"
            },
            {
              "name": "x-databricks-route-to",
              "value": "https://cons-webapp-0.cons-webapp-r.production.svc.cluster.local"
       [...]
