{
  "log": {
    "_recordingName": "fetchGroupUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d31c258b4eecb943136691f6a1410ecb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dbc-c50dbe80-ed72.cloud.databricks.com/api/2.0/groups/list"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 27,
            "text": "{\"group_names\":[\"admins\"]}\n"
          },
          "headers": [
            {
              "name": "x-databricks-reason-phrase",
              "value": "OK"
            },
            {
              "name": "x-databricks-route-to",
              "value": "https://cons-webapp-1.cons-webapp-r.production.svc.cluster.local"
            },
            {
              "name": "x-databricks-server-name",
              "value": "cons-webapp-1"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-databricks-org-id",
              "value": "1393914232801712"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 752,
      },
      {
        "_id": "9ef001604726cd5ad8e5f10a7fa95bd5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "group_name",
              "value": "admins"
            }
          ],
          "url": "https://dbc-c50dbe80-ed72.cloud.databricks.com/api/2.0/groups/list-members?group_name=admins"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 251,
            "text": "{\"members\":[{\"user_name\":\"stefan.virag@contractor.jupiterone.com\"},{\"user_name\":\"austin.kelleher@jupiterone.com\"},{\"user_name\":\"sam.andrus@jupiterone.com\"}]}\n"
          },
          "headers": [
            {
              "name": "x-databricks-reason-phrase",
              "value": "OK"
            },
            {
              "name": "x-databricks-server-name",
              "value": "cons-webapp-1"
            },
            {
              "name": "x-databricks-route-to",
              "value": "https://cons-webapp-1.cons-webapp-r.production.svc.cluster.local"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-databricks-org-id",
              "value": "1393914232801712"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 642,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
