{
  "log": {
    "_recordingName": "fetchClusters",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "bf48bfc2950b87846e3443d5d700288c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://3840207185082406.6.gcp.databricks.com/api/2.0/clusters/list"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1977,
            "text": "{\"clusters\":[{\"cluster_id\":\"0201-183853-7c8r8974\",\"driver\":{\"private_ip\":\"127.0.0.1\"},\"spark_context_id\":8745868079977237257,\"cluster_name\":\"test-cluster\",\"spark_version\":\"9.1.x-scala2.12\",\"spark_conf\":{\"spark.master\":\"local[*, 4]\",\"spark.databricks.cluster.profile\":\"singleNode\"},\"node_type_id\":\"n1-standard-4\",\"driver_node_type_id\":\"n1-standard-4\",\"custom_tags\":{\"ResourceClass\":\"SingleNode\"},\"spark_env_vars\":{\"PYSPARK_PYTHON\":\"/databricks/python3/bin/python3\"},\"autotermination_minutes\":20,\"enable_elastic_disk\":false,\"disk_spec\":{},\"cluster_source\":\"UI\",\"enable_local_disk_encryption\":false,\"gcp_attributes\":{\"use_preemptible_executors\":false,\"availability\":\"ON_DEMAND_GCP\",\"zone_id\":\"HA\"},\"instance_source\":{\"node_type_id\":\"n1-standard-4\"},\"driver_instance_source\":{\"node_type_id\":\"n1-standard-4\"},\"state\":\"RUNNING\",\"start_time\":1643740733901,\"last_state_loss_time\":1643741512861,\"num_workers\":0,\"cluster_memory_mb\":15360,\"cluster_cores\":4.0,\"default_tags\":{\"Vendor\":\"Databricks\",\"Creator\":\"viragsf_at_gmail.com\",\"ClusterName\":\"test-cluster\",\"ClusterId\":\"0201-183853-7c8r8974\"},\"creator_user_name\":\"viragsf@gmail.com\",\"init_scripts_safe_mode\":false},{\"cluster_id\":\"0117-142331-yanks462\",\"driver\":{\"private_ip\":\"127.0.0.1\"},\"cluster_name\":\"test-gcp-cluster\",\"spark_version\":\"9.1.x-scala2.12\",\"node_type_id\":\"n1-standard-4\",\"driver_node_type_id\":\"n1-standard-4\",\"spark_env_vars\":{\"PYSPARK_PYTHON\":\"/databricks/python3/bin/python3\"},\"autotermination_minutes\":20,\"enable_elastic_disk\":false,\"disk_spec\":{},\"cluster_source\":\"UI\",\"enable_local_disk_encryption\":false,\"gcp_attributes\":{\"use_preemptible_executors\":false,\"availability\":\"ON_DEMAND_GCP\",\"zone_id\":\"HA\"},\"instance_source\":{\"node_type_id\":\"n1-standard-4\"},\"driver_instance_source\":{\"node_type_id\":\"n1-standard-4\"},\"state\":\"TERMINATED\",\"state_message\":\"Cluster terminated by CLOUD_PROVIDER_LAUNCH_FAILURE\",\"start_time\":1642429411156,\"terminated_time\":1642429429719,\"last_state_loss_time\":1642429429732,\"autoscale\":{\"min_workers\":1,\"max_workers\":2},\"default_tags\":{\"Vendor\":\"Databricks\",\"Creator\":\"austin.kelleher_at_jupiterone.dev\",\"ClusterName\":\"test-gcp-cluster\",\"ClusterId\":\"0117-142331-yanks462\"},\"creator_user_name\":\"austin.kelleher@jupiterone.dev\",\"termination_reason\":{\"code\":\"CLOUD_PROVIDER_LAUNCH_FAILURE\",\"parameters\":{\"gcp_error_message\":\"Compute Quota Exceeded for jupiterone-databricks-test in region us-west1: Quota: SSD_TOTAL_GB, used 0.0 and requested 1000.0 out of 500.0\"},\"type\":\"CLOUD_FAILURE\"},\"init_scripts_safe_mode\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-databricks-org-id",
              "value": "3840207185082406"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 772,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
