{
  "log": {
    "_recordingName": "buildClusterUserRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "d31c258b4eecb943136691f6a1410ecb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dbc-c50dbe80-ed72.cloud.databricks.com/api/2.0/groups/list"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 27,
            "text": "{\"group_names\":[\"admins\"]}\n"
          },
          "headers": [
            {
              "name": "x-databricks-reason-phrase",
              "value": "OK"
            },
            {
              "name": "x-databricks-server-name",
              "value": "cons-webapp-1"
            },
            {
              "name": "x-databricks-route-to",
              "value": "https://cons-webapp-1.cons-webapp-r.production.svc.cluster.local"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-databricks-org-id",
              "value": "1393914232801712"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1542,
      },
      {
        "_id": "9ef001604726cd5ad8e5f10a7fa95bd5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "group_name",
              "value": "admins"
            }
          ],
          "url": "https://dbc-c50dbe80-ed72.cloud.databricks.com/api/2.0/groups/list-members?group_name=admins"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 251,
            "text": "{\"members\":[{\"user_name\":\"stefan.virag@contractor.jupiterone.com\"},{\"user_name\":\"austin.kelleher@jupiterone.com\"},{\"user_name\":\"sam.andrus@jupiterone.com\"}]}\n"
          },
          "headers": [
            {
              "name": "x-databricks-reason-phrase",
              "value": "OK"
            },
            {
              "name": "x-databricks-route-to",
              "value": "https://cons-webapp-1.cons-webapp-r.production.svc.cluster.local"
            },
            {
              "name": "x-databricks-server-name",
              "value": "cons-webapp-1"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-databricks-org-id",
              "value": "1393914232801712"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1350,
      },
      {
        "_id": "17d1137a2838a5b57f2f8e9e510b3662",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dbc-c50dbe80-ed72.cloud.databricks.com/api/2.0/clusters/list"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1643,
            "text": "{\"clusters\":[{\"cluster_id\":\"0222-151525-vwdam92b\",\"spark_context_id\":2759000291287089228,\"cluster_name\":\"aws-test-databricks-cluster-1\",\"spark_version\":\"9.1.x-scala2.12\",\"spark_conf\":{\"spark.master\":\"local[*, 4]\",\"spark.databricks.cluster.profile\":\"singleNode\"},\"aws_attributes\":{\"zone_id\":\"us-east-1a\",\"first_on_demand\":1,\"availability\":\"SPOT_WITH_FALLBACK\",\"spot_bid_price_percent\":100,\"ebs_volume_type\":\"GENERAL_PURPOSE_SSD\",\"ebs_volume_count\":1,\"ebs_volume_size\":100},\"node_type_id\":\"m4.large\",\"driver_node_type_id\":\"m4.large\",\"custom_tags\":{\"ResourceClass\":\"SingleNode\"},\"spark_env_vars\":{\"PYSPARK_PYTHON\":\"/databricks/python3/bin/python3\"},\"autotermination_minutes\":20,\"enable_elastic_disk\":true,\"disk_spec\":{\"disk_type\":{\"ebs_volume_type\":\"GENERAL_PURPOSE_SSD\"},\"disk_count\":1,\"disk_size\":100},\"cluster_source\":\"UI\",\"enable_local_disk_encryption\":false,\"instance_source\":{\"node_type_id\":\"m4.large\"},\"driver_instance_source\":{\"node_type_id\":\"m4.large\"},\"state\":\"TERMINATED\",\"state_message\":\"Inactive cluster terminated (inactive for 20 minutes).\",\"start_time\":1645542925525,\"terminated_time\":1645631107754,\"last_state_loss_time\":1645629926084,\"last_restarted_time\":1645629926186,\"num_workers\":0,\"default_tags\":{\"Vendor\":\"Databricks\",\"Creator\":\"stefan.virag@contractor.jupiterone.com\",\"ClusterName\":\"aws-test-databricks-cluster-1\",\"ClusterId\":\"0222-151525-vwdam92b\"},\"creator_user_name\":\"stefan.virag@contractor.jupiterone.com\",\"termination_reason\":{\"code\":\"INACTIVITY\",\"parameters\":{\"inactivity_duration_min\":\"20\"},\"type\":\"SUCCESS\"},\"init_scripts_safe_mode\":false}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-databricks-org-id",
              "value": "1393914232801712"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1148,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
